/* Estilos Analysis */
.analysis {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5%;
    background-color: #f5f5f5;
    align-items: center;
    text-align: center;
}
.title {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: 'Zen Dots', sans-serif;
    color: #002649;
    margin-bottom: 5%;
    margin-top: 5%;
}

/* Estilos Cards */
.featured-players{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
}
.card {
    width: 100%;
    margin: 2.5%;
    padding: 1%;
    display: flex;
    align-items: center;
}
.avatar {
    width: 35%;
}
.headshot {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilos Tabla */
.analysis-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 1.5%;
    flex: 1; 
    margin: 2.5%;
}
.mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
}
.mat-mdc-row:hover .mat-mdc-cell {
    background: #ffd3ca;
    border-color: #FE5B3B;
}
th{
    color: white;
}
.paginator {
    width: 100%;
}

/* Estilos Buscador */
.mat-mdc-form-field {
    width: 100%;
}

/* Media query para pantallas 1100px */
@media only screen and (max-width: 1100px) {
    .featured-players {
        flex-wrap: wrap;
        align-items: center;
        justify-content:center;
    }
    .card {
        width: 40%;
        margin: 5%;
    }
}

/* Media query para pantallas 600px */
@media only screen and (max-width: 600px) {
    .card {
        width: 65%;
    }
    h2{
        font-size: 18px;
    }
    th, td, mat-paginator, .filter, mat-label{
        font-size: 10px;
    }
    .analysis-container {
        padding: 0%;
        margin: 0.5%;
    }
}

/* Media query para pantallas 500px */
@media only screen and (max-width: 500px) {
    th, td, mat-paginator, .filter, mat-label{
        font-size: 8px;
    }
}