<div class="wrapper">
    <div class="analysis">
        <div class="title">
            <h2>Análisis de Jugadores</h2>
        </div>
        <div class="analysis-container">
            <mat-form-field color="accent">
                <mat-label>Buscador: </mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Luka Doncic" #input>
            </mat-form-field>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="ID">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> ID </th>
                    <td mat-cell *matCellDef="let player">{{ player.id }}</td>
                </ng-container>
                <ng-container matColumnDef="PLAYER">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> Jugador </th>
                    <td mat-cell *matCellDef="let player">{{ player.firstname }} {{ player.lastname }}</td>
                </ng-container>
                <ng-container matColumnDef="NO">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> NO. </th>
                    <td mat-cell *matCellDef="let player">#{{ player.jersey }}</td>
                </ng-container>
                <ng-container matColumnDef="POS">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> POS </th>
                    <td mat-cell *matCellDef="let player">{{ player.pos }}</td>
                </ng-container>
                <ng-container matColumnDef="EDAD">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> EDAD </th>
                    <td mat-cell *matCellDef="let player">{{ playerAge(player.birthdate) }}</td>
                </ng-container>
                <ng-container matColumnDef="TEAM">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> EQUIPO </th>
                    <td mat-cell *matCellDef="let player">{{ getCodeTeam(player.idTeam) }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <div class="paginator">
                <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50, 100]" aria-label="Select page of players"></mat-paginator>
            </div>
        </div>
    </div>
</div>
