<div class="wrapper">
    <div class="analysis">
        <div class="title">
            <h1>Análisis de Jugadores</h1>
        </div>
        <div class="featured-players">
            <mat-card class="card">
                <mat-card-header>
                    <div mat-card-avatar class="avatar"><img class="headshot" [src]="nikolaJocic[3]" alt="Luka Doncic"></div>
                    <mat-card-title>{{nikolaJocic[1]}}</mat-card-title>
                    <mat-card-subtitle>{{nikolaJocic[2]}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content><br></mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button color="accent" [routerLink]="['/analysis/', 'player:' + nikolaJocic[0]]">ANÁLISIS</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="card">
                <mat-card-header>
                    <div mat-card-avatar class="avatar"><img class="headshot" [src]="shai[3]" alt="Luka Doncic"></div>
                    <mat-card-title>{{shai[1]}}</mat-card-title>
                    <mat-card-subtitle>{{shai[2]}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content><br></mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button color="accent" [routerLink]="['/analysis/', 'player:' + shai[0]]">ANÁLISIS</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="card">
                <mat-card-header>
                    <div mat-card-avatar class="avatar"><img class="headshot" [src]="lukaDoncic[3]" alt="Luka Doncic"></div>
                    <mat-card-title>{{lukaDoncic[1]}}</mat-card-title>
                    <mat-card-subtitle>{{lukaDoncic[2]}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content><br></mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button color="accent" [routerLink]="['/analysis/', 'player:' + lukaDoncic[0]]">ANÁLISIS</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="card">
                <mat-card-header>
                    <div mat-card-avatar class="avatar"><img class="headshot" [src]="giannis[3]" alt="Luka Doncic"></div>
                    <mat-card-title>{{giannis[1]}}</mat-card-title>
                    <mat-card-subtitle>{{giannis[2]}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content><br></mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button color="accent" [routerLink]="['/analysis/', 'player:' + giannis[0]]">ANÁLISIS</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="analysis-container">
            <mat-form-field class="filter">
                <mat-label>Buscador: </mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Doncic" #input>
            </mat-form-field>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="ID">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> ID </th>
                    <td mat-cell *matCellDef="let player">{{ player.id }}</td>
                </ng-container>
                <ng-container matColumnDef="PLAYER">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> Jugador </th>
                    <td mat-cell *matCellDef="let player">{{ player.firstname }} {{ player.lastname }}</td>
                </ng-container>
                <ng-container matColumnDef="NO">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> NO. </th>
                    <td mat-cell *matCellDef="let player">#{{ player.jersey }}</td>
                </ng-container>
                <ng-container matColumnDef="POS">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> POS </th>
                    <td mat-cell *matCellDef="let player">{{ player.pos }}</td>
                </ng-container>
                <ng-container matColumnDef="EDAD">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> EDAD </th>
                    <td mat-cell *matCellDef="let player">{{ playerAge(player.birthdate) }}</td>
                </ng-container>
                <ng-container matColumnDef="TEAM">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> EQUIPO </th>
                    <td mat-cell *matCellDef="let player">{{ getCodeTeam(player.idTeam) }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns" [routerLink]="['/analysis/', 'player:' + row.id]"></tr>
            </table>
            <div class="paginator">
                <mat-paginator [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 50, 100]" aria-label="Select page of players"></mat-paginator>
            </div>
        </div>
    </div>
</div>
