/* Estilos Analysis */
.analysis {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5%;
    background-color: #f5f5f5;
    align-items: center;
    text-align: center;
}
.title {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: 'Zen Dots', sans-serif;
    color: #002649;
    margin-bottom: 5%;
    margin-top: 5%;
}

/* Estilos Cards */
.featured-players{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
}
.card {
    width: 100%;
    margin: 2.5%;
    padding: 1%;
    display: flex;
    align-items: center;
}
.avatar {
    width: 30%;
}
.headshot {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilos Tabla */
.analysis-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 1.5%;
    flex: 1; 
    margin: 2.5%;
}
th{
    color: white;
}
.paginator {
    width: 100%;
}

/* Estilos Buscador */
.mat-mdc-form-field {
    width: 100%;
}