/* Estilos Main */
.main {
    width: 100%;
    margin-bottom: 5%;
    text-align: center;
    padding: 5%;
}
.basket_icon {
    padding: 5%;
    width: 60%;
    height: auto;
    margin-right: 1%;
    transition: transform 0.3s ease;
}
.basket_icon:hover, .card {
    transform: scale(1.1);
    cursor: pointer;
}
.main-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* Estilos Nombre Usuario */
.user {
    text-align: right;
    justify-content: center;
    height: auto;
    background-color: #f5f5f5;
}
.user-btn {
    margin-top: 0.5%;
    width: auto;
    margin-right: 1%;
    font-size: 12px;
    color: #002649;
    font-family: 'Zen Dots', sans-serif;
}

/* Estilos Descripción */
.description {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}
.logo {
    width: 8%;
    height: auto;
}
.name {
    font-family: 'Zen Dots', sans-serif;
}

/* Estilos Cards Material */
.card {
    width: 20%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-content {
    margin-top: 5%;
    text-align: center;
}
mat-card-title {
    font-size: 22px;
    color: #002649;
    font-family: 'Zen Dots', sans-serif;
}
button {
    margin: 2%;
}

/* Media query para pantallas 1200px */
@media only screen and (max-width: 1200px) {
    .card {
        width: 25%;
    }
    mat-card-title {
        font-size: 18px;
    }
}
/* Media query para pantallas 1000px */
@media only screen and (max-width: 1000px) {
    .main-container {
        flex-wrap: wrap;
        align-items: center;
        justify-content:center;
    }
    .card {
        width: 40%;
        margin: 5%;
    }
}
/* Media query para pantallas 800px */
@media only screen and (max-width: 800px) {
    .card {
        width: 40%;
    }
}
/* Media query para pantallas 600px */
@media only screen and (max-width: 600px) {
    .card {
        width: 65%;
    }
}
