/* Estilos Main */
.main {
    width: 100%;
    margin-bottom: 5%;
    text-align: center;
    padding: 5%;
}
.basket_icon {
    padding: 5%;
    width: 60%;
    height: auto;
    margin-right: 1%;
    transition: transform 0.3s ease;
}
.basket_icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.main-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* Estilos Nombre Usuario */
.user {
    text-align: right;
    justify-content: center;
    height: auto;
    background-color: #f5f5f5;
}
.user-btn {
    margin-top: 0.5%;
    width: auto;
    margin-right: 1%;
    font-size: 12px;
    color: #002649;
    font-family: 'Zen Dots', sans-serif;
    background-color: white;
}

/* Estilos Intro */
.intro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 5%;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.main-card{
    width: 30%;
}
.options-cards{
    width: 70%;
}
.card-main {
    display: flex;
    align-items: center;
    border-radius: 30px;
    margin: 2%;
    box-shadow: 0 0 0px;
    background-color: white;
}
.card-option {
    display: flex;
    align-items: center;
    margin: 2%;
    background-size: cover;
    background-position: center;
}
/*.card-option mat-card-title {
    color: white;
}*/
.card-nba {
    background-image: url('../../../assets/images/wallpaper/fondo-nba.jpg');
}
.card-teams {
    background-image: url('../../../assets/images/wallpaper/fondo-teams.jpg');
}
.card-analysis {
    background-image: url('../../../assets/images/wallpaper/fondo-analysis.jpg');
}
.card-predict {
    background-image: url('../../../assets/images/wallpaper/fondo-predicts.jpg');
}
.nba-cards {
    background-image: url('../../../assets/images/wallpaper/nba-fondos.jpg');
}
.option-icon {
    padding: 5%;
    width: 25%;
    transition: transform 0.3s ease;
}
.option-icon:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.logo {
    width: 60%;
    height: auto;
    padding: 5%;
    margin-bottom: 2%;
}
.name {
    font-family: 'Zen Dots', sans-serif;
}

/* Estilos Cards Material */
.card {
    width: 20%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-content {
    margin-top: 5%;
    text-align: left;
}
mat-card-title {
    font-size: 22px;
    color: #002649;
    font-family: 'Zen Dots', sans-serif;
}
button {
    margin: 2%;
}

/* Media query para pantallas 1200px */
@media only screen and (max-width: 1200px) {
    .card {
        width: 25%;
    }
}
/* Media query para pantallas 1000px */
@media only screen and (max-width: 1000px) {
    .main-container {
        flex-wrap: wrap;
        align-items: center;
        justify-content:center;
    }
    .card {
        width: 40%;
        margin: 5%;
    }
    .user-btn {
        font-size: 10px;
    }
}
/* Media query para pantallas 800px */
@media only screen and (max-width: 800px) {
    .card {
        width: 40%;
    }
    .intro {
        margin-left: 5%;
        margin-right: 5%;
    }
    .main-card{
        width: 70%;
    }
    .logo {
        width: 80%;
    }
    .options-cards{
        width: 100%;
    }
}
/* Media query para pantallas 600px */
@media only screen and (max-width: 600px) {
    .card {
        width: 65%;
    }
    mat-card-title {
        font-size: 16px;
    }
    .intro {
        margin-left: 12.5%;
        margin-right: 12.5%;
    }
    .user-btn {
        font-size: 8px;
    }
}
