<div class="user">
    <button class="user-btn" (click)="checkUserRole()">{{ userName }}</button>
</div>
<div class="wrapper">
    <div class="main">
        <div class="intro">
            <div class="main-card">
                <mat-card class="card-main">
                    <br>
                    <img mat-card-image class="logo" src="../assets/images/logo/medusa.png" alt="Logo Medusa">
                    <mat-card-header>
                        <mat-card-title class="card-title">StatsGlowMind</mat-card-title>
                    </mat-card-header>
                    <br>
                </mat-card>
            </div>
            <div class="options-cards">
                <mat-tab-group color="accent">
                    <mat-tab label="NBA"> 
                        <mat-card class="card-option card-nba" routerLink="/stats">
                            <img mat-card-image class="option-icon" src="../assets/images/icons/hoop.png" alt="Basketball">
                            <mat-card-header>
                                <mat-card-title>NBA</mat-card-title>
                            </mat-card-header>
                            <br>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="EQUIPOS"> 
                        <mat-card class="card-option card-teams" routerLink="/teams">
                            <img mat-card-image class="option-icon" src="../assets/images/icons/basketball-court.png" alt="Data Basketball">
                            <mat-card-header>
                                <mat-card-title>EQUIPOS</mat-card-title>
                            </mat-card-header>
                            <br>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="ANÁLISIS"> 
                        <mat-card class="card-option card-analysis" routerLink="/analysis">
                            <img mat-card-image class="option-icon" src="../assets/images/icons/charts.png" alt="Stats">
                            <mat-card-header>
                                <mat-card-title>ANÁLISIS</mat-card-title>
                            </mat-card-header>
                            <br>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="PREDICCIONES"> 
                        <mat-card class="card-option card-predict">
                            <img mat-card-image class="option-icon" src="../assets/images/icons/market-analysis.png" alt="Predicts">
                            <mat-card-header>
                                <mat-card-title>PREDICCIONES</mat-card-title>
                            </mat-card-header>
                            <br>
                        </mat-card>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>

        <div class="intro">
            <div class="main-card">
                <mat-card class="card-main" routerLink="/stats">
                    <img mat-card-image class="logo" src="../assets/images/icons/hoop.png" alt="Basketball">
                    <mat-card-header>
                        <mat-card-title>NBA</mat-card-title>
                    </mat-card-header>
                    <br>
                </mat-card>
            </div>
            <div class="options-cards">
                <mat-tab-group>
                    <mat-tab label="CLASIFICACIÓN"> 
                        <mat-card class="card-option nba-cards" routerLink="/stats/standings">
                            <img mat-card-image class="option-icon" src="../assets/images/icons/podium2.png" alt="Basketball">
                            <mat-card-header>
                                <mat-card-title>CLASIFICACIÓN</mat-card-title>
                            </mat-card-header>
                            <br>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="PLAYOFFS"> 
                        <mat-card class="card-option nba-cards" routerLink="/stats/playoffs">
                            <img mat-card-image class="option-icon" src="../assets/images/icons/play2.png" alt="Basketball">
                            <mat-card-header>
                                <mat-card-title>PLAYOFFS</mat-card-title>
                            </mat-card-header>
                            <br>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="PARTIDOS"> 
                        <mat-card class="card-option nba-cards" routerLink="/stats/games">
                            <img mat-card-image class="option-icon" src="../assets/images/icons/game2.png" alt="Basketball">
                            <mat-card-header>
                                <mat-card-title>PARTIDOS</mat-card-title>
                            </mat-card-header>
                            <br>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="LÍDERES"> 
                        <mat-card class="card-option nba-cards" routerLink="/stats/leaders">
                            <img mat-card-image class="option-icon" src="../assets/images/icons/star2.png" alt="Basketball">
                            <mat-card-header>
                                <mat-card-title>LÍDERES</mat-card-title>
                            </mat-card-header>
                            <br>
                        </mat-card>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>

        <div class="main-container">
            <mat-card class="card" routerLink="/stats">
                <img mat-card-image class="basket_icon" src="../assets/images/icons/hoop.png" alt="Basketball">
                <mat-card-header>
                    <mat-card-title>NBA</mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-content">
                    <p>
                        Clasificación en cada conferencia, Playoffs, Partidos y Resultados y Líderes de la liga.
                    </p>
                </mat-card-content>
            </mat-card>
            <mat-card class="card" routerLink="/teams">
                <img mat-card-image class="basket_icon" src="../assets/images/icons/basketball-court.png" alt="Data Basketball">
                <mat-card-header>
                    <mat-card-title>EQUIPOS</mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-content">
                    <p>
                        Estadísticas de los equipos de la NBA y los jugadores de cada uno de los equipos.
                    </p>
                </mat-card-content>
            </mat-card>
            <mat-card class="card" routerLink="/analysis">
                <img mat-card-image class="basket_icon" src="../assets/images/icons/charts.png" alt="Stats">
                <mat-card-header>
                    <mat-card-title>ANÁLISIS</mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-content">
                    <p>
                        Análisis de las estadísticas de cada jugadore para calcular su rendimiento en distintos campos.
                    </p>
                </mat-card-content>
            </mat-card>
            <mat-card class="card">
                <img mat-card-image class="basket_icon" src="../assets/images/icons/market-analysis.png" alt="Predicts">
                <mat-card-header>
                    <mat-card-title>PREDICCIONES</mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-content">
                    <p>
                        Predicciones de los próximos partidos en base a las estadísticas de cada equipo en la temporada.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>