<div class="user">
    <button class="user-btn" (click)="checkUserRole()">{{ userName }}</button>
</div>
<div class="wrapper">
    <div class="main">
        <div class="intro">
            <div class="main-card">
                <mat-card class="card-main">
                    <br>
                    <img mat-card-image class="logo" src="../assets/images/logo/medusa.png" alt="Logo Medusa">
                    <mat-card-header>
                        <mat-card-title class="card-title">StatsGlowMind</mat-card-title>
                    </mat-card-header>
                    <br>
                </mat-card>
            </div>
            <div class="options-cards">
                <mat-tab-group color="accent">
                    <mat-tab label="NBA"> 
                        <mat-card class="card-option card-nba" routerLink="/stats">
                            <img mat-card-image class="option-icon" src="../assets/images/icons/hoop.png" alt="Basketball">
                            <mat-card-header>
                                <mat-card-title>NBA</mat-card-title>
                            </mat-card-header>
                            <br>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="{{ 'MAIN.TEAMS' | translate }}"> 
                        <mat-card class="card-option card-teams" routerLink="/teams">
                            <img mat-card-image class="option-icon" src="../assets/images/icons/basketball-court.png" alt="Data Basketball">
                            <mat-card-header>
                                <mat-card-title>{{ 'MAIN.TEAMS' | translate }}</mat-card-title>
                            </mat-card-header>
                            <br>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="{{ 'MAIN.ANALYSIS' | translate }}"> 
                        <mat-card class="card-option card-analysis" routerLink="/analysis">
                            <img mat-card-image class="option-icon" src="../assets/images/icons/charts.png" alt="Stats">
                            <mat-card-header>
                                <mat-card-title >{{ 'MAIN.ANALYSIS' | translate }}</mat-card-title>
                            </mat-card-header>
                            <br>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="{{ 'MAIN.PREDICTIONS' | translate }}"> 
                        <mat-card class="card-option card-predict" routerLink="/predict">
                            <img mat-card-image class="option-icon" src="../assets/images/icons/market-analysis.png" alt="Predicts">
                            <mat-card-header>
                                <mat-card-title>{{ 'MAIN.PREDICTIONS' | translate }}</mat-card-title>
                            </mat-card-header>
                            <br>
                        </mat-card>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>

        <div class="intro">
            <div class="main-card">
                <mat-card class="card-main" routerLink="/stats">
                    <span> </span>
                    <img mat-card-image class="logo" src="../assets/images/icons/hoop.png" alt="Basketball">
                    <mat-card-header>
                        <mat-card-title>NBA</mat-card-title>
                    </mat-card-header>
                    <br>
                </mat-card>
            </div>
            <div class="options-cards">
                <mat-tab-group>
                    <mat-tab label="{{ 'MAIN.STANDINGS' | translate }}"> 
                        <mat-card class="card-option nba-cards" routerLink="/stats/standings">
                            <img mat-card-image class="option-icon" src="../assets/images/icons/podium2.png" alt="Basketball">
                            <mat-card-header>
                                <mat-card-title>{{ 'MAIN.STANDINGS' | translate }}</mat-card-title>
                            </mat-card-header>
                            <br>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="PLAYOFFS"> 
                        <mat-card class="card-option nba-cards" routerLink="/stats/playoffs">
                            <img mat-card-image class="option-icon" src="../assets/images/icons/play2.png" alt="Basketball">
                            <mat-card-header>
                                <mat-card-title>PLAYOFFS</mat-card-title>
                            </mat-card-header>
                            <br>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="{{ 'MAIN.GAMES' | translate }}"> 
                        <mat-card class="card-option nba-cards" routerLink="/stats/games">
                            <img mat-card-image class="option-icon" src="../assets/images/icons/game2.png" alt="Basketball">
                            <mat-card-header>
                                <mat-card-title>{{ 'MAIN.GAMES' | translate }}</mat-card-title>
                            </mat-card-header>
                            <br>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="{{ 'MAIN.LEADERS' | translate }}"> 
                        <mat-card class="card-option nba-cards" routerLink="/stats/leaders">
                            <img mat-card-image class="option-icon" src="../assets/images/icons/star2.png" alt="Basketball">
                            <mat-card-header>
                                <mat-card-title>{{ 'MAIN.LEADERS' | translate }}</mat-card-title>
                            </mat-card-header>
                            <br>
                        </mat-card>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>

        <div class="main-container">
            <mat-card class="card" routerLink="/stats">
                <img mat-card-image class="basket_icon" src="../assets/images/icons/hoop.png" alt="Basketball">
                <mat-card-header>
                    <mat-card-title>NBA</mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-content">
                    <p>{{ 'MAIN.NBA_DESCRIPTION' | translate }}</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="card" routerLink="/teams">
                <img mat-card-image class="basket_icon" src="../assets/images/icons/basketball-court.png" alt="Data Basketball">
                <mat-card-header>
                    <mat-card-title>{{ 'MAIN.TEAMS' | translate }}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-content">
                    <p>{{ 'MAIN.TEAMS_DESCRIPTION' | translate }}</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="card" routerLink="/analysis">
                <img mat-card-image class="basket_icon" src="../assets/images/icons/charts.png" alt="Stats">
                <mat-card-header>
                    <mat-card-title>{{ 'MAIN.ANALYSIS' | translate }}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-content">
                    <p>{{ 'MAIN.ANALYSIS_DESCRIPTION' | translate }}</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="card" routerLink="/predict">
                <img mat-card-image class="basket_icon" src="../assets/images/icons/market-analysis.png" alt="Predicts">
                <mat-card-header>
                    <mat-card-title>{{ 'MAIN.PREDICTIONS' | translate }}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-content">
                    <p>{{ 'MAIN.PREDICTIONS_DESCRIPTION' | translate }}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>