<div class="standings">
  <div class="conference-table">
    <h2>Conferencia Este</h2>
    <div class="table-container">
      <table>
        <thead>
          <ng-container *ngIf="smallScreen">
            <tr>
              <ng-container *ngFor="let column of displayedColumnsSort">
                <th>{{ column }}</th>
              </ng-container>
            </tr>
          </ng-container>
          <ng-container *ngIf="!smallScreen">
            <tr>
              <ng-container *ngFor="let column of displayedColumns">
                <th>{{ column }}</th>
              </ng-container>
            </tr>
          </ng-container>
        </thead>
        <tbody>
          <tr *ngFor="let team of eastStandings">
            <ng-container *ngIf="smallScreen">
              <td>{{ team.conference.rank }}</td>
              <td><img [src]="team.team.logo"></td>
              <td class="team">{{ team.team.name }}</td>
              <td>{{ team.conference.win }}</td>
              <td>{{ team.conference.loss }}</td>
              <td>{{ team.win.percentage }}</td>
              <td>{{ team.win.home }}-{{ team.loss.home }}</td>
              <td>{{ team.win.away }}-{{ team.loss.away }}</td>
            </ng-container>
            <ng-container *ngIf="!smallScreen">
              <td>{{ team.conference.rank }}</td>
              <td><img [src]="team.team.logo"></td>
              <td class="team">{{ team.team.name }}</td>
              <td>{{ team.conference.win }}</td>
              <td>{{ team.conference.loss }}</td>
              <td>{{ team.win.percentage }}</td>
              <td>{{ team.win.home }}-{{ team.loss.home }}</td>
              <td>{{ team.win.away }}-{{ team.loss.away }}</td>
              <td>{{ team.win.lastTen }}-{{ team.loss.lastTen }}</td>
              <td>{{ team.winStreak ? 'W' : 'L' }} {{ team.streak }}</td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="conference-table">
    <h2>Conferencia Oeste</h2>
    <div class="table-container">
      <table>
        <thead>
          <ng-container *ngIf="smallScreen">
            <tr>
              <ng-container *ngFor="let column of displayedColumnsSort">
                <th>{{ column }}</th>
              </ng-container>
            </tr>
          </ng-container>
          <ng-container *ngIf="!smallScreen">
            <tr>
              <ng-container *ngFor="let column of displayedColumns">
                <th>{{ column }}</th>
              </ng-container>
            </tr>
          </ng-container>
        </thead>
        <tbody>
          <tr *ngFor="let team of westStandings">
            <ng-container *ngIf="smallScreen">
              <td>{{ team.conference.rank }}</td>
              <td><img [src]="team.team.logo"></td>
              <td class="team">{{ team.team.name }}</td>
              <td>{{ team.conference.win }}</td>
              <td>{{ team.conference.loss }}</td>
              <td>{{ team.win.percentage }}</td>
              <td>{{ team.win.home }}-{{ team.loss.home }}</td>
              <td>{{ team.win.away }}-{{ team.loss.away }}</td>
            </ng-container>
            <ng-container *ngIf="!smallScreen">
              <td>{{ team.conference.rank }}</td>
              <td><img [src]="team.team.logo"></td>
              <td class="team">{{ team.team.name }}</td>
              <td>{{ team.conference.win }}</td>
              <td>{{ team.conference.loss }}</td>
              <td>{{ team.win.percentage }}</td>
              <td>{{ team.win.home }}-{{ team.loss.home }}</td>
              <td>{{ team.win.away }}-{{ team.loss.away }}</td>
              <td>{{ team.win.lastTen }}-{{ team.loss.lastTen }}</td>
              <td>{{ team.winStreak ? 'W' : 'L' }} {{ team.streak }}</td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
