<footer class="footer">
  <div class="container-logo">
    <img class="title" src="../../assets/images/logo/statsGlowMind_azul.png" alt="Logo">
  </div>
  <hr>
  <div class="container-info">
    <div class="container">
      <h4>DESARROLLO</h4>
      <ul>
        <li><a href="https://angular.io/docs">Angular</a></li>
        <li><a href="https://firebase.google.com/docs">Firebase</a></li>
        <li><a href="https://rapidapi.com/api-sports/api/api-nba">RapidAPI</a></li>
      </ul>
    </div>
    <div class="container">
      <h4>DISEÑO</h4>
      <ul>
        <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
        <li><a href="https://material.angular.io/">Angular Material</a></li>
        <li><a href="https://www.flaticon.es/">Flaticon</a></li>
      </ul>
    </div>
    <div class="container">
      <h4>ACERCA DE</h4>
      <ul>
        <li><a href="#about" routerLink="/about">StatsGlowMind</a></li>
        <li><a href="#glossary" routerLink="/about/glossary">Glosario</a></li>
        <li><a href="mailto:rls1004@alu.ubu.es">Contacto</a></li>
      </ul>
    </div>
    <div class="container">
      <h4>REDES</h4>
      <ul>
        <li><a href="https://github.com/roberlastrass/StatsGlowMind"><img class="icon" src="../assets/images/icons/github.png" alt="GitHub"></a></li>
        <li><a href="https://www.linkedin.com/in/roberto-lastras-santos-082563216/"><img class="icon" src="../assets/images/icons/linkedin.png" alt="GitHub"></a></li>
        <li><a href="mailto:rls1004@alu.ubu.es"><img class="icon" src="../assets/images/icons/outlook.png" alt="GitHub"></a></li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="container-licence">
    <div class="licence">
      <span>© 2024 StatsGlowMind. Todos los derechos reservados.</span>
    </div>
    <div class="select-language">
      <mat-form-field class="select" color="accent">
        <mat-label><strong>Idioma:</strong></mat-label>
        <mat-select class="text-center" value="ES">
            <mat-option value="ES" >Español (<strong>ES</strong>)</mat-option>
            <mat-option value="EN">Inglés (<strong>EN</strong> )</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</footer>