<footer class="footer">
  <div class="container-logo">
    <img class="title" src="../../assets/images/logo/statsGlowMind_azul.png" alt="Logo">
  </div>
  <hr>
  <div class="container-info">
    <div class="container">
      <h4>DESARROLLO</h4>
      <ul>
        <li><a href="#">Angular</a></li>
        <li><a href="#">Firebase</a></li>
        <li><a href="#">RapidAPI</a></li>
      </ul>
    </div>
    <div class="container">
      <h4>DISEÑO</h4>
      <ul>
        <li><a href="#">Bootstrap</a></li>
        <li><a href="#">Angular Material</a></li>
        <li><a href="#">Canva</a></li>
        <li><a href="#">Flaticon</a></li>
      </ul>
    </div>
    <div class="container">
      <h4>ACERCA DE</h4>
      <ul>
        <li><a href="#">StatsGlowMind</a></li>
        <li><a href="#">Universidad de Burgos</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>
    <div class="container">
      <h4>REDES</h4>
      <ul>
        <li><a href="#">GitHub</a></li>
        <li><a href="#">LinkedIn</a></li>
        <li><a href="#">X</a></li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="container-licence">
    <span>© 2024 StatsGlowMind. Todos los derechos reservados.</span>
  </div>
</footer>