<div class="wrapper">
    <div class="teams">
        <div class="conference-container">
            <div class="conference">
                <h1>Conferencia Este</h1>
            </div>
            <div class="division-container" *ngFor="let division of eastDivisions">
                <h2>{{ division.division }}</h2>
                <div class="teams-container" *ngFor="let team of filteredDivisions(division.division)">
                    <mat-card class="card">
                        <mat-card-header class="card-header">
                            <div mat-card-avatar class="logo"> <img [src]="team.logo"> </div>
                            <mat-card-title><strong>{{ team.code }}</strong> {{team.name}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-actions>
                            <button mat-flat-button color="primary" [routerLink]="['/teams', team.nickname]" (click)="sendIdTeam(team.id)">ESTADÍSTICAS</button>
                            <button mat-flat-button color="accent" class="btn btn-outline-danger" [routerLink]="['/teams', team.nickname, 'players']">JUGADORES</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="conference-container">
            <div class="conference">
                <h1>Conferencia Oeste</h1>
            </div>
            <div class="division-container" *ngFor="let division of westDivisions">
                <h2>{{ division.division }}</h2>
                <div class="teams-container" *ngFor="let team of filteredDivisions(division.division)">
                    <mat-card class="card">
                        <mat-card-header class="card-header">
                            <div mat-card-avatar class="logo"> <img [src]="team.logo"> </div>
                            <mat-card-title><strong>{{ team.code }}</strong> {{team.name}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-actions>
                            <button mat-flat-button color="primary" [routerLink]="['/teams', team.nickname]">ESTADÍSTICAS</button>
                            <button mat-flat-button color="accent" class="btn btn-outline-danger" [routerLink]="['/teams', team.nickname, 'players']">JUGADORES</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>