<div class="container-fluid">
  <img class="title" src="../assets/images/logo/statsGlowMind_azul.png" alt="Logo" (click)="redirectToMain()">
  <div class="col-md-6 d-none d-md-block">
    <div class="menu">
      <button class="button_menu" [matMenuTriggerFor]="nba">NBA</button>
      <button class="button_menu" [matMenuTriggerFor]="equipos">{{ 'MAIN.TEAMS' | translate }}</button>
      <button class="button_menu" routerLink="/analysis">{{ 'MAIN.ANALYSIS' | translate }}</button>
      <button class="button_menu" routerLink="/predict">{{ 'MAIN.PREDICTIONS' | translate }}</button>
    </div>
  </div>
  <div class="buttons">
    <div class="button_login"#tooltip="matTooltip"
          matTooltip="{{ 'APP.LOGIN' | translate }}"
          [matTooltipPosition]="'below'"
          matTooltipHideDelay="100"
          aria-label="Button that displays a tooltip that hides when scrolled out of the container">
      <img class="login_icon" src="../assets/images/icons/login.png" alt="Login" (click)="redirectToLogin('Iniciar sesión')">
    </div>
    <div class="button_logout" #tooltip="matTooltip"
          matTooltip="{{ 'APP.LOGOUT' | translate }}"
          [matTooltipPosition]="'below'"
          matTooltipHideDelay="100"
          aria-label="Button that displays a tooltip that hides when scrolled out of the container">
      <img class="logout_icon" src="../assets/images/icons/logout.png" alt="Logout" (click)="onClick()">
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- Menú NBA -->
<mat-menu #nba="matMenu" color="accent">
  <button mat-menu-item routerLink="/stats/standings">{{ 'APP.STANDINGS' | translate }}</button>
  <button mat-menu-item routerLink="/stats/playoffs">Playoffs</button>
  <button mat-menu-item routerLink="/stats/games">{{ 'APP.GAMES' | translate }}</button>
  <button mat-menu-item routerLink="/stats/leaders">{{ 'APP.LEADERS' | translate }}</button>
</mat-menu>

<!-- Menú Equipos -->
<mat-menu #equipos="matMenu" color="accent">
  <button mat-menu-item routerLink="/teams">{{ 'APP.ALL_TEAMS' | translate }}</button>
  <button mat-menu-item [matMenuTriggerFor]="east">{{ 'PREDICT.EAST' | translate }}</button>
  <button mat-menu-item [matMenuTriggerFor]="west">{{ 'PREDICT.WEST' | translate }}</button>
</mat-menu>
<mat-menu #east="matMenu" color="accent">
  <button mat-menu-item [matMenuTriggerFor]="atlantic">{{ 'TEAMS.ATLANTIC' | translate }}</button>
  <button mat-menu-item [matMenuTriggerFor]="central">Central</button>
  <button mat-menu-item [matMenuTriggerFor]="southeast">{{ 'TEAMS.SOUTHEAST' | translate }}</button>
</mat-menu>
<mat-menu #west="matMenu" color="accent">
  <button mat-menu-item [matMenuTriggerFor]="northwest">{{ 'TEAMS.NORTHWEST' | translate }}</button>
  <button mat-menu-item [matMenuTriggerFor]="pacific">{{ 'TEAMS.PACIFIC' | translate }}</button>
  <button mat-menu-item [matMenuTriggerFor]="southwest">{{ 'TEAMS.SOUTHWEST' | translate }}</button>
</mat-menu>
<mat-menu #atlantic="matMenu" color="accent">
  <button mat-menu-item routerLink="/teams/Celtics">Boston Celtics</button>
  <button mat-menu-item routerLink="/teams/Nets">Brooklyn Nets</button>
  <button mat-menu-item routerLink="/teams/Knicks">New York Knicks</button>
  <button mat-menu-item routerLink="/teams/76ers">Philadelphia 76ers</button>
  <button mat-menu-item routerLink="/teams/Raptors">Toronto Raptors</button>
</mat-menu>
<mat-menu #central="matMenu" color="accent">
  <button mat-menu-item routerLink="/teams/Bulls">Chicago Bulls</button>
  <button mat-menu-item routerLink="/teams/Cavaliers">Cleveland Cavaliers</button>
  <button mat-menu-item routerLink="/teams/Pistons">Detroit Pistons</button>
  <button mat-menu-item routerLink="/teams/Pacers">Indiana Pacers</button>
  <button mat-menu-item routerLink="/teams/Bucks">Milwaukee Bucks</button>
</mat-menu>
<mat-menu #southeast="matMenu" color="accent">
  <button mat-menu-item routerLink="/teams/Hawks">Atlanta Hawks</button>
  <button mat-menu-item routerLink="/teams/Hornets">Charlotte Hornets</button>
  <button mat-menu-item routerLink="/teams/Heat">Miami Heat</button>
  <button mat-menu-item routerLink="/teams/Magic">Orlando Magic</button>
  <button mat-menu-item routerLink="/teams/Wizards">Washington Wizards</button>
</mat-menu>
<mat-menu #northwest="matMenu" color="accent">
  <button mat-menu-item routerLink="/teams/Nuggets">Denver Nuggets</button>
  <button mat-menu-item routerLink="/teams/Timberwolves">Minnesota Timberwolves</button>
  <button mat-menu-item routerLink="/teams/Thunder">Oklahoma City Thunder</button>
  <button mat-menu-item routerLink="/teams/Blazers">Portland Trail Blazers</button>
  <button mat-menu-item routerLink="/teams/Jazz">Utah Jazz</button>
</mat-menu>
<mat-menu #pacific="matMenu" color="accent">
  <button mat-menu-item routerLink="/teams/Warriors">Golden State Warriors</button>
  <button mat-menu-item routerLink="/teams/Clippers">LA Clippers</button>
  <button mat-menu-item routerLink="/teams/Lakers">Los Angeles Lakers</button>
  <button mat-menu-item routerLink="/teams/Suns">Phoenix Suns</button>
  <button mat-menu-item routerLink="/teams/Kings">Sacramento Kings</button>
</mat-menu>
<mat-menu #southwest="matMenu" color="accent">
  <button mat-menu-item routerLink="/teams/Mavericks">Dallas Mavericks</button>
  <button mat-menu-item routerLink="/teams/Rockets">Houston Rockets</button>
  <button mat-menu-item routerLink="/teams/Grizzlies">Memphis Grizzlies</button>
  <button mat-menu-item routerLink="/teams/Pelicans">New Orleans Pelicans</button>
  <button mat-menu-item routerLink="/teams/Spurs">San Antonio Spurs</button>
</mat-menu>