<div class="leaders">
  <div class="leaders-table">
    <div class="mb-3">
      <mat-label><strong>Selecciona la Categoria:</strong></mat-label>
      <mat-form-field class="select">
        <mat-select class="text-center" (selectionChange)="filteredCategory($event.value)">
            <mat-option value="PTS">Puntos</mat-option>
            <mat-option value="REB">Rebotes</mat-option>
            <mat-option value="AST">Asistencias</mat-option>
            <mat-option value="STL">Robos</mat-option>
            <mat-option value="BLK">Tapones</mat-option>
            <mat-option value="EFF">Eficiencia</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="title">
      <h2>{{ getTitle(category) }}</h2>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="RANK">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> Nº </th>
        <td mat-cell *matCellDef="let player of players"> {{ player[1]}} </td>
      </ng-container>
      <ng-container matColumnDef="PLAYER">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> JUGADOR </th>
        <td mat-cell *matCellDef="let player of players"> {{ player[2]}} </td>
      </ng-container>
      <ng-container matColumnDef="TEAM">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> EQUIPO </th>
        <td mat-cell *matCellDef="let player of players"> {{ player[4]}} </td>
      </ng-container>
      <ng-container matColumnDef="GP">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> GP </th>
        <td mat-cell *matCellDef="let player of players"> {{ player[5]}} </td>
      </ng-container>
      <ng-container matColumnDef="MIN">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> MIN </th>
        <td mat-cell *matCellDef="let player of players"> {{ player[6]}} </td>
      </ng-container>
      <ng-container matColumnDef="PTS">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> PTS </th>
        <td mat-cell *matCellDef="let player of players"> {{ player[23]}} </td>
      </ng-container>
      <ng-container matColumnDef="REB">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> REB </th>
        <td mat-cell *matCellDef="let player of players"> {{ player[18]}} </td>
      </ng-container>
      <ng-container matColumnDef="AST">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> AST </th>
        <td mat-cell *matCellDef="let player of players"> {{ player[19]}} </td>
      </ng-container>
      <ng-container matColumnDef="STL">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> STL </th>
        <td mat-cell *matCellDef="let player of players"> {{ player[20]}} </td>
      </ng-container>
      <ng-container matColumnDef="BLK">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> BLK </th>
        <td mat-cell *matCellDef="let player of players"> {{ player[21]}} </td>
      </ng-container>
      <ng-container matColumnDef="FG_PCT">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> FG% </th>
        <td mat-cell *matCellDef="let player of players"> {{ player[9]}} </td>
      </ng-container>
      <ng-container matColumnDef="FG3_PCT">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> 3P% </th>
        <td mat-cell *matCellDef="let player of players"> {{ player[12]}} </td>
      </ng-container>
      <ng-container matColumnDef="FTA">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> FT% </th>
        <td mat-cell *matCellDef="let player of players"> {{ player[15]}} </td>
      </ng-container>
      <ng-container matColumnDef="EFF">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> EFF </th>
        <td mat-cell *matCellDef="let player of players"> {{ player[24]}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="smallScreen ? displayedColumnsSort : mediumScreen? displayedColumnsMedium : displayedColumnsLarge"></tr>
      <tr mat-row *matRowDef="let row; columns: smallScreen ? displayedColumnsSort : mediumScreen? displayedColumnsMedium : displayedColumnsLarge"></tr>
    </table>
    <div class="paginator">
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50, 100]" aria-label="Select page of players"></mat-paginator>
    </div>
  </div>
</div>