/* Estilos Líderes */
.leaders {
    display: flex;
    flex-wrap: wrap;
    padding: 0% 2.5% 2.5% 2.5%;
    background-color: #f5f5f5;
    padding-bottom: 10%;
}
.leaders-table {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 1.5%;
    flex: 1; 
    margin: 1%;
}
h2 {
    font-size: 26px;
    font-family: 'Zen Dots', sans-serif;
    color: #002649;
    margin-bottom: 2.5%;
}
.title {
    width: 100%;
}
.paginator {
    width: 100%;
}

/* Estilos Material Tabla */
th, td {
    text-align: center;
    font-size: 16px;
}
th{
    color: white;
}

/* Media query para pantallas pequeñas */
@media only screen and (max-width: 600px) {
    h2{
        font-size: 14px;
    }
    th, td, mat-paginator, .select, mat-label{
        font-size: 10px;
    }
    .select {
        width: 50%;
    }
}