/* Estilos Líderes */
.leaders {
    display: flex;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 2.5%;
    background-color: #f5f5f5;
}
.leaders-table {
    width: 100%;
    text-align: center;
    padding: 1.5%;
    flex: 1; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1%;
}
h2 {
    font-size: 26px;
    font-family: 'Zen Dots', sans-serif;
    margin-bottom: 2.5%;
}

/* Estilos Material Tabla */
th, td {
    text-align: center;
    font-size: 16px;
}
th{
    color: white;
}

/* Media query para pantallas pequeñas */
@media only screen and (max-width: 600px) {
    h2{
        font-size: 14px;
    }
    th, td, mat-paginator, .select, mat-label{
        font-size: 10px;
    }
    .select {
        width: 50%;
    }
}