<div class="wrapper">
    <div class="admin">
        <div class="users-container" *ngFor="let user of users">
            <mat-card class="card">
                <mat-card-header>
                    <div mat-card-avatar class="avatar"></div>
                    <mat-card-title>{{user.displayName}}</mat-card-title>
                    <mat-card-subtitle>{{user.uid}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="card-content">
                    <p><strong>Email: </strong> {{user.email}}</p>
                    <p><strong>Rol: </strong> {{user.rol}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button color="primary" (click)="openDialogUpdate(user)">MODIFICAR</button>
                    <button mat-flat-button color="accent" (click)="user.displayName && openDialogDelete(user.displayName, user.uid)">ELIMINAR</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>