<div class="wrapper">
    <div class="box-form">
        <img class="register_icon" src="../assets/images/icons/register.png" alt="Login">
        <h1>Registro de usuario</h1>
        <form class="form" [formGroup]="formRegister" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label">Nombre de Usuario: </label>
                <input type="text" class="form-control" formControlName="username">
            </div>
            <div class="mb-3">
                <label class="form-label">Email: </label>
                <input type="text" class="form-control" formControlName="email">
            </div>
            <div class="mb-3">
                <label class="form-label">Contraseña: </label>
                <input type="password" class="form-control" formControlName="password">
            </div>
            <div class="mb-3">
                <label class="form-label">Repetir Contraseña: </label>
                <input type="password" class="form-control" formControlName="repeatPassword">
            </div>
            <div class="mb-3">
                <label for="role">Rol:</label>
                <select formControlName="role" id="role">
                    <option value="user">Usuario</option>
                    <option value="admin">Administrador</option>
                </select>
            </div>
            <input class="enviar" type="submit" value="Enviar">
        </form>
        <p></p>
        <button class="google-btn" (click)="onClick()"><img class="google_icon" src="../assets/images/icons/google.png" alt="Login Google">Register With Google</button>
    </div>
</div>
