/* Estilos Register */
h1 {
    color: #002649;
    font-size: 35px;
}
mat-label, mat-form-field, .enviar, mat-select {
    font-size: 18px;
}
mat-form-field.select {
    margin-left: 5%;
    width: 50%;
}
mat-form-field {
    width: 100%;
}

/* Media query para pantallas 1000px */
@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 25px;
    }
    mat-label, mat-form-field, .enviar, mat-select {
        font-size: 16px;
    }
}
/* Media query para pantallas 600px */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 15px;
    }
    mat-label, mat-form-field, .enviar, mat-select {
        font-size: 12px;
    }
}