<div class="wrapper">
    <div class="box-form">
        <img class="register_icon" src="../assets/images/icons/register.png" alt="Login">
        <h1>Registro de usuario</h1>
        <form class="form" [formGroup]="formRegister" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <mat-label class="form-label">Nombre de Usuario: </mat-label><br>
                <mat-form-field>
                    <input matInput class="form-control text-center" formControlName="username">
                </mat-form-field>
            </div>
            <div class="mb-3">
                <mat-label class="form-label">Email: </mat-label><br>
                <mat-form-field>
                    <input type="email" matInput class="form-control text-center" formControlName="email" placeholder="Ex. StatsGlowMind@example.com">
                </mat-form-field>
            </div>
            <div class="mb-3">
                <mat-label class="form-label">Contraseña: </mat-label><br>
                <mat-form-field>
                    <input matInput [type]="hide ? 'password' : 'text'" class="form-control text-center" formControlName="password">
                    <button mat-icon-button matSuffix (click)="showPassword($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="mb-3">
                <mat-label class="form-label">Repetir Contraseña: </mat-label><br>
                <mat-form-field>
                    <input matInput [type]="hide ? 'password' : 'text'" class="form-control text-center" formControlName="repeatPassword">
                    <button mat-icon-button matSuffix (click)="showPassword($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="mb-3">
                <mat-label for="rol">Rol de Usuario:</mat-label>
                <mat-form-field class="select">
                    <mat-select class="text-center" formControlName="rol" id="rol">
                        <mat-option value="user">Usuario</mat-option>
                        <mat-option value="admin" disabled="disabled">Administrador</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" class="enviar" type="submit" value="Enviar">Enviar</button>
        </form>
        <mat-divider></mat-divider><br><br>
        <button class="google-btn" (click)="onClick()"><img class="google_icon" src="../assets/images/icons/google.png" alt="Login Google">Registrate con Google</button>
    </div>
</div>
