h1 {
    color: #002649;
    font-size: 35px;
}

label {
    font-size: 18px;
}

input {
    font-size: 18px;
}

.enviar {
    font-size: 18px;
}

/* Media query para pantallas pequeñas */
@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 25px;
    }
    label {
        font-size: 14px; /* Ajusta el tamaño de fuente para pantallas pequeñas */
    }
    input {
        font-size: 14px;
    }
    .enviar {
        font-size: 14px;
    }
}
/* Media query para pantallas pequeñas */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 15px;
    }
    label {
        font-size: 10px; /* Ajusta el tamaño de fuente para pantallas pequeñas */
    }
    input {
        font-size: 10px;
    }
    .enviar {
        font-size: 10px;
    }
}