<div class="wrapper"> 
  <div class="predict">
    <div class="title">
      <h1>{{ 'PREDICT.TITLE' | translate }}</h1>
    </div>
    <div class="select-teams">
      <div class="mb-3">
        <h3>{{ 'PREDICT.HOME_TEAM' | translate }}</h3>
        <mat-form-field>
          <mat-label>{{ 'PREDICT.HOME_TEAM' | translate }}</mat-label>
          <mat-select color="primary" [formControl]="homeTeamControl">
            <ng-container *ngFor="let group of teamGroups">
              <mat-optgroup [label]="group.name" [disabled]="group.disabled">
                <mat-option *ngFor="let team of group.teams" [value]="team.id">
                  {{ team.name }}
                </mat-option>
              </mat-optgroup>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="versus">
        <span>VS</span>
      </div>
      <div class="mb-3">
        <h3>{{ 'PREDICT.VISITOR_TEAM' | translate }}</h3>
        <mat-form-field>
          <mat-label>{{ 'PREDICT.VISITOR_TEAM' | translate }}</mat-label>
          <mat-select color="primary" [formControl]="visitorTeamControl">
            <ng-container *ngFor="let group of teamGroups">
              <mat-optgroup [label]="group.name" [disabled]="group.disabled">
                <mat-option *ngFor="let team of group.teams" [value]="team.id">
                  {{ team.name }}
                </mat-option>
              </mat-optgroup>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="btn-predict">
      <button mat-raised-button color="accent" (click)="predictGame()">{{ 'PREDICT.BUTTON' | translate }}</button>
    </div>
    <hr>
    <div class="charts-stats">
      <div>
        <h2>{{ 'PREDICT.PROBABILITY_TITLE' | translate }}</h2>
      </div>
      <div class="chart-container">
        <div class="chart-content-2">
          <div class="canva">
            <canvas id="chartPrediction">{{ predictionChart }}</canvas>
          </div>
          <div class="winner">
            <h3>{{ teamName }}</h3>
            <img class="win-team" [src]="logo">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>