<div class="playoffs">    
    <div class="playoffs-container" >
        <div class="coference">
            <h2>Conferencia Oeste</h2>
            <h2>Conferencia Este</h2>
        </div>
        <div class="rounds-container" *ngFor="let round of rounds">
            <p class="number-round">{{ round.name }}</p>
            <div class="column" *ngFor="let series of filteredSeries(round.roundNumber, round.conference)">
                <mat-card class="card">
                    <mat-card-header class="card-header">
                        <!--<div mat-card-avatar class="logo"> <img [src]="teamLogo"> </div>-->
                        <mat-card-title>{{ series.highSeedCity }} <strong>{{ series.highSeedName }}</strong></mat-card-title>
                        <div class="rank">{{ series.highSeedRank }}</div> 
                    </mat-card-header>
                    <mat-card-header class="card-header">
                        <mat-card-title>{{ series.lowSeedCity }} <strong>{{ series.lowSeedName }}</strong></mat-card-title>
                        <div class="rank">{{ series.lowSeedRank }}</div> 
                    </mat-card-header>
                    <mat-card-content class="card-content">
                        <p>{{ series.seriesText }}</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>