<div class="wrapper">
    <div class="glossary">
        <div class="title">
            <h1>Glosario</h1>
        </div>
        <div class="table-container">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>TÉRMINO</th>
                        <th>DESCRIPCIÓN</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="term">GP</td>
                        <td>Games Played: Partidos jugados.</td>
                    </tr>
                    <tr>
                        <td class="term">MIN</td>
                        <td>Minutes: Minutos jugados.</td>
                    </tr>
                    <tr>
                        <td class="term">W</td>
                        <td>Wins: Victorias.</td>
                    </tr>
                    <tr>
                        <td class="term">L</td>
                        <td>Losses: Derrotas.</td>
                    </tr>
                    <tr>
                        <td class="term">W%</td>
                        <td>Winning Percentage: Porcentaje de victorias.</td>
                    </tr>
                    <tr>
                        <td class="term">PTS</td>
                        <td>Points: Puntos anotados.</td>
                    </tr>
                    <tr>
                        <td class="term">FGM</td>
                        <td>Field Goals Made: Tiros de campo convertidos.</td>
                    </tr>
                    <tr>
                        <td class="term">FGA</td>
                        <td>Field Goals Attempted: Tiros de campo intentados.</td>
                    </tr>
                    <tr>
                        <td class="term">FG%</td>
                        <td>Field Goal Percentage: Porcentaje de tiros de campo.</td>
                    </tr>
                    <tr>
                        <td class="term">TPM</td>
                        <td>Three-Point Field Goals Made: Triples convertidos.</td>
                    </tr>
                    <tr>
                        <td class="term">TPA</td>
                        <td>Three-Point Field Goals Attempted: Triples intentados.</td>
                    </tr>
                    <tr>
                        <td class="term">TP%</td>
                        <td>Three-Point Field Goal Percentage: Porcentaje de triples.</td>
                    </tr>
                    <tr>
                        <td class="term">FTM</td>
                        <td>Free Throws Made: Tiros libres convertidos.</td>
                    </tr>
                    <tr>
                        <td class="term">FTA</td>
                        <td>Free Throws Attempted: Tiros libres intentados.</td>
                    </tr>
                    <tr>
                        <td class="term">FT%</td>
                        <td>Free Throw Percentage: Porcentaje de tiros libres.</td>
                    </tr>
                    <tr>
                        <td class="term">OREB</td>
                        <td>Offensive Rebounds: Rebotes ofensivos.</td>
                    </tr>
                    <tr>
                        <td class="term">DREB</td>
                        <td>Defensive Rebounds: Rebotes defensivos.</td>
                    </tr>
                    <tr>
                        <td class="term">REB</td>
                        <td>Rebounds: Rebotes totales.</td>
                    </tr>
                    <tr>
                        <td class="term">AST</td>
                        <td>Assists: Asistencias.</td>
                    </tr>
                    <tr>
                        <td class="term">BLK</td>
                        <td>Blocks: Tapones o bloqueos.</td>
                    </tr>
                    <tr>
                        <td class="term">TOV</td>
                        <td>Turnovers: Pérdidas de balón.</td>
                    </tr>
                    <tr>
                        <td class="term">PF</td>
                        <td>Personal Fouls: Faltas personales.</td>
                    </tr>
                    <tr>
                        <td class="term">EFF</td>
                        <td>Efficiency: Eficiencia del jugador.</td>
                    </tr>
                    <tr>
                        <td class="term">+/-</td>
                        <td>Plus/Minus: Indicador de la diferencia de puntos cuando un jugador está en la cancha.</td>
                    </tr>
                    <tr>
                        <td class="term">NO</td>
                        <td>Number: Número de camiseta del jugador.</td>
                    </tr>
                    <tr>
                        <td class="term">POS</td>
                        <td>Position: Posición del jugador (PG, SG, SF, PF, C).</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
  