<div class="wrapper">
    <div class="glossary">
        <div class="title">
            <h1>{{ 'FOOTER.GLOSSARY' | translate }}</h1>
        </div>
        <div class="table-container">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>{{ 'GLOSSARY.TERM' | translate }}</th>
                        <th>{{ 'GLOSSARY.DESCRIPTION' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="term">GP</td>
                        <td>{{ 'GLOSSARY.GP' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">MIN</td>
                        <td>{{ 'GLOSSARY.MIN' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">W</td>
                        <td>{{ 'GLOSSARY.W' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">L</td>
                        <td>{{ 'GLOSSARY.L' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">W%</td>
                        <td>{{ 'GLOSSARY.W_PERCENT' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">PTS</td>
                        <td>{{ 'GLOSSARY.PTS' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">FGM</td>
                        <td>{{ 'GLOSSARY.FGM' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">FGA</td>
                        <td>{{ 'GLOSSARY.FGA' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">FG%</td>
                        <td>{{ 'GLOSSARY.FG_PERCENT' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">TP</td>
                        <td>{{ 'GLOSSARY.TP' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">TPM</td>
                        <td>{{ 'GLOSSARY.TPM' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">TPF</td>
                        <td>{{ 'GLOSSARY.TPF' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">TPA</td>
                        <td>{{ 'GLOSSARY.TPA' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">TP%</td>
                        <td>{{ 'GLOSSARY.TP_PERCENT' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">2P</td>
                        <td>{{ 'GLOSSARY.2P' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">2PM</td>
                        <td>{{ 'GLOSSARY.2PM' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">2PF</td>
                        <td>{{ 'GLOSSARY.2PF' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">2PA</td>
                        <td>{{ 'GLOSSARY.2PA' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">FT</td>
                        <td>{{ 'GLOSSARY.FT' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">FTM</td>
                        <td>{{ 'GLOSSARY.FTM' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">FTF</td>
                        <td>{{ 'GLOSSARY.FTF' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">FTA</td>
                        <td>{{ 'GLOSSARY.FTA' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">FT%</td>
                        <td>{{ 'GLOSSARY.FT_PERCENT' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">OREB</td>
                        <td>{{ 'GLOSSARY.OREB' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">DREB</td>
                        <td>{{ 'GLOSSARY.DREB' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">REB</td>
                        <td>{{ 'GLOSSARY.REB' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">AST</td>
                        <td>{{ 'GLOSSARY.AST' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">BLK</td>
                        <td>{{ 'GLOSSARY.BLK' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">TOV</td>
                        <td>{{ 'GLOSSARY.TOV' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">PF</td>
                        <td>{{ 'GLOSSARY.PF' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">EFF</td>
                        <td>{{ 'GLOSSARY.EFF' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">+/-</td>
                        <td>{{ 'GLOSSARY.PLUS_MINUS' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">NO</td>
                        <td>{{ 'GLOSSARY.NO' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">POS</td>
                        <td>{{ 'GLOSSARY.POS' | translate }}</td>
                    </tr>
                    <tr>
                        <td class="term">AVG PTS</td>
                        <td>{{ 'GLOSSARY.AVG_PTS' | translate }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
  