<div class="wrapper">
    <div class="stats-container">
        <button routerLink="standings" routerLinkActive="active">
            <img class="stats_icon" src="../assets/images/icons/podium.png" alt="Clasificación">
            {{ 'MAIN.STANDINGS' | translate }}
        </button>
        <button routerLink="playoffs" routerLinkActive="active">
            <img class="stats_icon" src="../assets/images/icons/play.png" alt="Playoffs">
            PLAYOFFS
        </button>
        <button routerLink="games" routerLinkActive="active">
            <img class="stats_icon" src="../assets/images/icons/game.png" alt="Partidos">
            {{ 'MAIN.GAMES' | translate }}
        </button>
        <button routerLink="leaders" routerLinkActive="active">
            <img class="stats_icon" src="../assets/images/icons/star.png" alt="Lideres">
            {{ 'MAIN.LEADERS' | translate }}
        </button>
    </div>
</div>
<router-outlet></router-outlet>