<div class="wrapper">
  <div class="team-stats">
    <div class="title-team">
      <div>
        <img class="logo" [src]="teamLogo">
      </div>
      <div>
        <h1>{{teamName}}</h1>
      </div>
    </div>
    <div class="btn-players">
      <button mat-flat-button color="accent" class="btn btn-outline-danger" [routerLink]="['/teams', teamNickname, 'players']">{{ 'TEAMS.PLAYERS' | translate }}</button>
    </div>
    <div class="all-stats">
      <div class="name-stats">
        <h2>{{ 'TEAMS.STATS.TOTAL_STATS' | translate }}</h2>
        <button mat-icon-button color="accent" (click)="routeGlossary()" matTooltip="{{ 'FOOTER.GLOSSARY' | translate }}">
          <mat-icon>info</mat-icon>
        </button>
      </div>
      <table class="table">
        <thead>
          <ng-container *ngIf="smallScreen">
            <tr>
              <ng-container *ngFor="let column of displayedColumnsSort">
                <th>{{ column }}</th>
              </ng-container>
            </tr>
          </ng-container>
          <ng-container *ngIf="mediumScreen && !smallScreen">
            <tr>
              <ng-container *ngFor="let column of displayedColumnsMedium">
                <th>{{ column }}</th>
              </ng-container>
            </tr>
          </ng-container>
          <ng-container *ngIf="!mediumScreen && !smallScreen">
            <tr>
              <ng-container *ngFor="let column of displayedColumnsLarge">
                <th>{{ column }}</th>
              </ng-container>
            </tr>
          </ng-container>
        </thead>
        <tbody>
          <tr>
            <ng-container *ngIf="smallScreen">
              <td>{{ averageStats?.gp }}</td>
              <td>{{ averageStats?.winPercentage ? averageStats.winPercentage.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.points ? averageStats.points.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.fgp ? averageStats.fgp.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.tpp ? averageStats.tpp.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.ftp ? averageStats.ftp.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.plusMinus ? averageStats.plusMinus.toFixed(2) : 'N/A' }}</td>
            </ng-container>
            <ng-container *ngIf="mediumScreen && !smallScreen">
              <td>{{ averageStats?.gp }}</td>
              <td>{{ averageStats?.win }}</td>
              <td>{{ averageStats?.loss }}</td>
              <td>{{ averageStats?.winPercentage ? averageStats.winPercentage.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.points ? averageStats.points.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.fgp ? averageStats.fgp.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.tpp ? averageStats.tpp.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.ftp ? averageStats.ftp.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.totReb ? averageStats.totReb.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.assists ? averageStats.assists.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.steals ? averageStats.steals.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.blocks ? averageStats.blocks.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.plusMinus ? averageStats.plusMinus.toFixed(2) : 'N/A' }}</td>
            </ng-container>
            <ng-container *ngIf="!mediumScreen && !smallScreen">
              <td>{{ averageStats?.gp }}</td>
              <td>{{ averageStats?.win }}</td>
              <td>{{ averageStats?.loss }}</td>
              <td>{{ averageStats?.winPercentage ? averageStats.winPercentage.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.points ? averageStats.points.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.fgm ? averageStats.fgm.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.fga ? averageStats.fga.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.fgp ? averageStats.fgp.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.tpm ? averageStats.tpm.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.tpa ? averageStats.tpa.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.tpp ? averageStats.tpp.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.ftm ? averageStats.ftm.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.fta ? averageStats.fta.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.ftp ? averageStats.ftp.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.offReb ? averageStats.offReb.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.defReb ? averageStats.defReb.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.totReb ? averageStats.totReb.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.assists ? averageStats.assists.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.turnovers ? averageStats.turnovers.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.steals ? averageStats.steals.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.blocks ? averageStats.blocks.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.pFouls ? averageStats.pFouls.toFixed(2) : 'N/A' }}</td>
              <td>{{ averageStats?.plusMinus ? averageStats.plusMinus.toFixed(2) : 'N/A' }}</td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="home-visitors-stats">
      <div class="name-stats">
        <h2>{{ 'TEAMS.STATS.HOME_STATS' | translate }}</h2>
      </div>
      <table class="table">
        <thead>
          <ng-container *ngIf="smallScreen">
            <tr>
              <ng-container *ngFor="let column of displayedColumnsSort">
                <th>{{ column }}</th>
              </ng-container>
            </tr>
          </ng-container>
          <ng-container *ngIf="mediumScreen && !smallScreen">
            <tr>
              <ng-container *ngFor="let column of displayedColumnsMedium">
                <th>{{ column }}</th>
              </ng-container>
            </tr>
          </ng-container>
          <ng-container *ngIf="!mediumScreen && !smallScreen">
            <tr>
              <ng-container *ngFor="let column of displayedColumnsLarge">
                <th>{{ column }}</th>
              </ng-container>
            </tr>
          </ng-container>
        </thead>
        <tbody>
          <tr>
            <ng-container *ngIf="smallScreen">
              <td>{{ homeStats?.gp }}</td>
              <td>{{ homeStats?.winPercentage ? homeStats.winPercentage.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.points ? homeStats.points.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.fgp ? homeStats.fgp.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.tpp ? homeStats.tpp.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.ftp ? homeStats.ftp.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.plusMinus ? homeStats.plusMinus.toFixed(2) : 'N/A' }}</td>
            </ng-container>
            <ng-container *ngIf="mediumScreen && !smallScreen">
              <td>{{ homeStats?.gp }}</td>
              <td>{{ homeStats?.win }}</td>
              <td>{{ homeStats?.loss }}</td>
              <td>{{ homeStats?.winPercentage ? homeStats.winPercentage.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.points ? homeStats.points.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.fgp ? homeStats.fgp.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.tpp ? homeStats.tpp.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.ftp ? homeStats.ftp.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.totReb ? homeStats.totReb.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.assists ? homeStats.assists.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.steals ? homeStats.steals.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.blocks ? homeStats.blocks.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.plusMinus ? homeStats.plusMinus.toFixed(2) : 'N/A' }}</td>
            </ng-container>
            <ng-container *ngIf="!mediumScreen && !smallScreen">
              <td>{{ homeStats?.gp }}</td>
              <td>{{ homeStats?.win }}</td>
              <td>{{ homeStats?.loss }}</td>
              <td>{{ homeStats?.winPercentage ? homeStats.winPercentage.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.points ? homeStats.points.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.fgm ? homeStats.fgm.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.fga ? homeStats.fga.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.fgp ? homeStats.fgp.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.tpm ? homeStats.tpm.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.tpa ? homeStats.tpa.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.tpp ? homeStats.tpp.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.ftm ? homeStats.ftm.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.fta ? homeStats.fta.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.ftp ? homeStats.ftp.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.offReb ? homeStats.offReb.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.defReb ? homeStats.defReb.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.totReb ? homeStats.totReb.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.assists ? homeStats.assists.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.turnovers ? homeStats.turnovers.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.steals ? homeStats.steals.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.blocks ? homeStats.blocks.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.pFouls ? homeStats.pFouls.toFixed(2) : 'N/A' }}</td>
              <td>{{ homeStats?.plusMinus ? homeStats.plusMinus.toFixed(2) : 'N/A' }}</td>
            </ng-container>
          </tr>
        </tbody>
      </table>
      <div class="name-second-stats">
        <h2>{{ 'TEAMS.STATS.VISITOR_STATS' | translate }}</h2>
      </div>
      <table class="table">
        <thead>
          <ng-container *ngIf="smallScreen">
            <tr>
              <ng-container *ngFor="let column of displayedColumnsSort">
                <th>{{ column }}</th>
              </ng-container>
            </tr>
          </ng-container>
          <ng-container *ngIf="mediumScreen && !smallScreen">
            <tr>
              <ng-container *ngFor="let column of displayedColumnsMedium">
                <th>{{ column }}</th>
              </ng-container>
            </tr>
          </ng-container>
          <ng-container *ngIf="!mediumScreen && !smallScreen">
            <tr>
              <ng-container *ngFor="let column of displayedColumnsLarge">
                <th>{{ column }}</th>
              </ng-container>
            </tr>
          </ng-container>
        </thead>
        <tbody>
          <tr>
            <ng-container *ngIf="smallScreen">
              <td>{{ visitorStats?.gp }}</td>
              <td>{{ visitorStats?.winPercentage ? visitorStats.winPercentage.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.points ? visitorStats.points.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.fgp ? visitorStats.fgp.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.tpp ? visitorStats.tpp.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.ftp ? visitorStats.ftp.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.plusMinus ? visitorStats.plusMinus.toFixed(2) : 'N/A' }}</td>
            </ng-container>
            <ng-container *ngIf="mediumScreen && !smallScreen">
              <td>{{ visitorStats?.gp }}</td>
              <td>{{ visitorStats?.win }}</td>
              <td>{{ visitorStats?.loss }}</td>
              <td>{{ visitorStats?.winPercentage ? visitorStats.winPercentage.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.points ? visitorStats.points.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.fgp ? visitorStats.fgp.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.tpp ? visitorStats.tpp.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.ftp ? visitorStats.ftp.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.totReb ? visitorStats.totReb.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.assists ? visitorStats.assists.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.steals ? visitorStats.steals.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.blocks ? visitorStats.blocks.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.plusMinus ? visitorStats.plusMinus.toFixed(2) : 'N/A' }}</td>
            </ng-container>
            <ng-container *ngIf="!mediumScreen && !smallScreen">
              <td>{{ visitorStats?.gp }}</td>
              <td>{{ visitorStats?.win }}</td>
              <td>{{ visitorStats?.loss }}</td>
              <td>{{ visitorStats?.winPercentage ? visitorStats.winPercentage.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.points ? visitorStats.points.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.fgm ? visitorStats.fgm.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.fga ? visitorStats.fga.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.fgp ? visitorStats.fgp.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.tpm ? visitorStats.tpm.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.tpa ? visitorStats.tpa.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.tpp ? visitorStats.tpp.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.ftm ? visitorStats.ftm.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.fta ? visitorStats.fta.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.ftp ? visitorStats.ftp.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.offReb ? visitorStats.offReb.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.defReb ? visitorStats.defReb.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.totReb ? visitorStats.totReb.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.assists ? visitorStats.assists.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.turnovers ? visitorStats.turnovers.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.steals ? visitorStats.steals.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.blocks ? visitorStats.blocks.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.pFouls ? visitorStats.pFouls.toFixed(2) : 'N/A' }}</td>
              <td>{{ visitorStats?.plusMinus ? visitorStats.plusMinus.toFixed(2) : 'N/A' }}</td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="win-loss-stats">
      <div class="name-stats">
        <h2>{{ 'TEAMS.STATS.WIN_STATS' | translate }}</h2>
      </div>
      <table class="table">
        <thead>
          <ng-container *ngIf="smallScreen">
            <tr>
              <ng-container *ngFor="let column of displayedColumnsSort">
                <th>{{ column }}</th>
              </ng-container>
            </tr>
          </ng-container>
          <ng-container *ngIf="mediumScreen && !smallScreen">
            <tr>
              <ng-container *ngFor="let column of displayedColumnsMedium">
                <th>{{ column }}</th>
              </ng-container>
            </tr>
          </ng-container>
          <ng-container *ngIf="!mediumScreen && !smallScreen">
            <tr>
              <ng-container *ngFor="let column of displayedColumnsLarge">
                <th>{{ column }}</th>
              </ng-container>
            </tr>
          </ng-container>
        </thead>
        <tbody>
          <tr>
            <ng-container *ngIf="smallScreen">
              <td>{{ winStats?.gp }}</td>
              <td>{{ winStats?.winPercentage ? winStats.winPercentage.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.points ? winStats.points.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.fgp ? winStats.fgp.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.tpp ? winStats.tpp.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.ftp ? winStats.ftp.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.plusMinus ? winStats.plusMinus.toFixed(2) : 'N/A' }}</td>
            </ng-container>
            <ng-container *ngIf="mediumScreen && !smallScreen">
              <td>{{ winStats?.gp }}</td>
              <td>{{ winStats?.win }}</td>
              <td>{{ winStats?.loss }}</td>
              <td>{{ winStats?.winPercentage }}</td>
              <td>{{ winStats?.points ? winStats.points.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.fgp ? winStats.fgp.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.tpp ? winStats.tpp.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.ftp ? winStats.ftp.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.totReb ? winStats.totReb.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.assists ? winStats.assists.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.steals ? winStats.steals.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.blocks ? winStats.blocks.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.plusMinus ? winStats.plusMinus.toFixed(2) : 'N/A' }}</td>
            </ng-container>
            <ng-container *ngIf="!mediumScreen && !smallScreen">
              <td>{{ winStats?.gp }}</td>
              <td>{{ winStats?.win }}</td>
              <td>{{ winStats?.loss }}</td>
              <td>{{ winStats?.winPercentage }}</td>
              <td>{{ winStats?.points ? winStats.points.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.fgm ? winStats.fgm.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.fga ? winStats.fga.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.fgp ? winStats.fgp.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.tpm ? winStats.tpm.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.tpa ? winStats.tpa.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.tpp ? winStats.tpp.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.ftm ? winStats.ftm.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.fta ? winStats.fta.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.ftp ? winStats.ftp.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.offReb ? winStats.offReb.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.defReb ? winStats.defReb.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.totReb ? winStats.totReb.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.assists ? winStats.assists.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.turnovers ? winStats.turnovers.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.steals ? winStats.steals.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.blocks ? winStats.blocks.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.pFouls ? winStats.pFouls.toFixed(2) : 'N/A' }}</td>
              <td>{{ winStats?.plusMinus ? winStats.plusMinus.toFixed(2) : 'N/A' }}</td>
            </ng-container>
          </tr>
        </tbody>
      </table>
      <div class="name-second-stats">
        <h2>{{ 'TEAMS.STATS.LOSS_STATS' | translate }}</h2>
      </div>
      <table class="table">
        <thead>
          <ng-container *ngIf="smallScreen">
            <tr>
              <ng-container *ngFor="let column of displayedColumnsSort">
                <th>{{ column }}</th>
              </ng-container>
            </tr>
          </ng-container>
          <ng-container *ngIf="mediumScreen && !smallScreen">
            <tr>
              <ng-container *ngFor="let column of displayedColumnsMedium">
                <th>{{ column }}</th>
              </ng-container>
            </tr>
          </ng-container>
          <ng-container *ngIf="!mediumScreen && !smallScreen">
            <tr>
              <ng-container *ngFor="let column of displayedColumnsLarge">
                <th>{{ column }}</th>
              </ng-container>
            </tr>
          </ng-container>
        </thead>
        <tbody>
          <tr>
            <ng-container *ngIf="smallScreen">
              <td>{{ lossStats?.gp }}</td>
              <td>{{ lossStats?.winPercentage }}</td>
              <td>{{ lossStats?.points ? lossStats.points.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.fgp ? lossStats.fgp.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.tpp ? lossStats.tpp.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.ftp ? lossStats.ftp.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.plusMinus ? lossStats.plusMinus.toFixed(2) : 'N/A' }}</td>
            </ng-container>
            <ng-container *ngIf="mediumScreen && !smallScreen">
              <td>{{ lossStats?.gp }}</td>
              <td>{{ lossStats?.win }}</td>
              <td>{{ lossStats?.loss }}</td>
              <td>{{ lossStats?.winPercentage }}</td>
              <td>{{ lossStats?.points ? lossStats.points.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.fgp ? lossStats.fgp.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.tpp ? lossStats.tpp.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.ftp ? lossStats.ftp.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.totReb ? lossStats.totReb.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.assists ? lossStats.assists.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.steals ? lossStats.steals.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.blocks ? lossStats.blocks.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.plusMinus ? lossStats.plusMinus.toFixed(2) : 'N/A' }}</td>
            </ng-container>
            <ng-container *ngIf="!mediumScreen && !smallScreen">
              <td>{{ lossStats?.gp }}</td>
              <td>{{ lossStats?.win }}</td>
              <td>{{ lossStats?.loss }}</td>
              <td>{{ lossStats?.winPercentage }}</td>
              <td>{{ lossStats?.points ? lossStats.points.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.fgm ? lossStats.fgm.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.fga ? lossStats.fga.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.fgp ? lossStats.fgp.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.tpm ? lossStats.tpm.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.tpa ? lossStats.tpa.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.tpp ? lossStats.tpp.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.ftm ? lossStats.ftm.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.fta ? lossStats.fta.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.ftp ? lossStats.ftp.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.offReb ? lossStats.offReb.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.defReb ? lossStats.defReb.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.totReb ? lossStats.totReb.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.assists ? lossStats.assists.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.turnovers ? lossStats.turnovers.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.steals ? lossStats.steals.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.blocks ? lossStats.blocks.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.pFouls ? lossStats.pFouls.toFixed(2) : 'N/A' }}</td>
              <td>{{ lossStats?.plusMinus ? lossStats.plusMinus.toFixed(2) : 'N/A' }}</td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
