/* Estilos About */
.about {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5%;
    background-color: #f5f5f5;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.title {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: 'Zen Dots', sans-serif;
    color: #002649;
    margin-bottom: 2.5%;
    margin-top: 5%;
}
.info {
    display: flex;
    width: 50%;
    justify-content: center;
    text-align: left;
}

/* Estilo para el enlace */
a {
    color: #FE5B3B;
    text-decoration: none;
}
a:hover {
    color: #ff4925;
    text-decoration: underline;
}
a:active {
    color: #ff2a00c3;
}

/* Media query para pantallas medianas */
@media only screen and (max-width: 1000px) {
    p {
        font-size: 12px;
    }
}
  
/* Media query para pantallas pequeñas */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
    p {
        font-size: 10px;
    }
}